@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&family=Sacramento&display=swap');

#name {
    font-size: 35px;
    font-family: 'Nerko One';
    text-align: left;
}

.center {
    display: inline-block;
    text-align: left;
    padding-left: 2em;
    color: white;
    font-family: kruti dev;
}

#logo {
    width: 6em;
    height: 6em;
    display: inline-block;
    position: relative;
    top: 8px;
    text-align: left;
}

body {
    background-color: azure;
    margin: 0;
    padding: 0;
}

div#into {
    margin: 0px auto 20px auto;
    text-align: left;
    background-image: linear-gradient(to right, #3c90c8, #2c3e50);
    padding-left: 8em;

}

.right {
    float: right;
}

#info {
    font-size: 0.6cm;
}

#photo1 {
    width: 30em;
    height: 20em;
    border-radius: 2em;
    padding: 0.45em;
    display: inline-block;
}

div.right {
    position: relative;
    top: 1.7em;
    right: 3em;
}

input {
    padding: 6px;
    border: none;
    margin: 10px;
    background-color: #2c3e50;
    opacity: 0.8;
    color: white;


}

input:hover {
    background-color: black;
    transition: 0.4s;
    background-color: rgb(200, 218, 239);
}

#sample_pic {
    margin-left: 20px;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
}

#info {
    margin-top: 20px;
    padding: 30px;
    text-align: justify;
}
#login{
    margin-top: 100px;
    font-size: 35px;
    font-family: 'Nerko One';
}
.loginbox {
    width: 450px;
    border-radius: 8px;
    background-image: linear-gradient(#d1dde9, #e2e9f0);
    color: rgb(9, 8, 8);
    top: 60%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0 4px 180px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
#form1{
    position: relative;
    left: -10px;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    position: absolute;
    top: 0px;
    left: 35%;
}
h1 {
    margin: 0;
    padding: 0 0 20 px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(13, 12, 12);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(22, 21, 21);
    font-size: 18px;
}

.loginbox button {
    position: relative;
    left: 115spx;
    border: none;
    outline: none;
    height: 40px;
    background: rgb(65, 4, 4);
    color: rgb(188, 181, 181);
    font-size: 18px;
    border-radius: 20px;
    width: 10em;
}
button:hover {
    cursor: pointer;
    background: #1f1e1a;
    color: rgb(210, 203, 203);
}

.loginbox a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: rgb(13, 11, 11);
}

.loginbox a:hover {
    color: #162969;
}